{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bt/css/bootstrap.css' %}">
    <script src="{% static 'bt/js/bootstrap.js' %}"></script>
    <title>Document</title>
</head>
<body class="container">
    <h1>Register student</h1>
    <div class="row">
        <div class="col-lg-12">
            <form action="" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="tt" id="tt" placeholder="Enter TT Number and press enter... ">
                    <div class="card card-body my-2">
                      Please make sure all the unverified images are located at {{path.unverified}}
                    </div>
                </div>
            </form>
            {% if not student %}
            <div class="card card-body">

              <img src="/{{path.unverified}}/{{search}}.jpg" alt="img" width="90" height="90">
            </div>
            {% endif %}
            <div class="card card-body my-2">
                <table class="table table-responsive">
                    <thead class="thead-dark">
                      <tr>
                        
                        <th scope="col">Image</th>
                        {% for field in fields %}
                        <th scope="col">{{field}}</th>
                        {% endfor %}
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% if student %}
                        {% if student.photo_link %}
                        <th scope="row"><img src="/{{path.verified}}/{{search}}.jpg" alt="image" srcset="" width="80" height="80"></th>
                        {% else %}
                        <th scope="row"><img src="/{{path.unverified}}/{{search}}.jpg" alt="image" srcset="" width="80" height="80"></th>
                        {% endif %}
                        {% for field in student.get_field_values %}
                            <th scope="col">{{ field.value }}</th>
                        {% endfor %}
                        {% else %}
                            <td colspan="5" class="justify-content-center">No match</td>
                        {% endif %}
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="card card-body">

                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {{form|crispy}}

               <button class="btn btn-outline-success btn-lg my-2 " type="submit">Submitt</button>
                </form>
            </div>

    </div>
</body>
</html>